.links-widget .flinks-list li a:hover,
.contact-box li a:hover,
.tj-nav-holder .navbar-default .navbar-nav .dropdown-menu>li>a:hover,
.tj-nav-holder .dropdown-menu>li>a:focus,
.tj-nav-holder .nav .open>a,
.tj-nav-holder .nav .open>a:hover,
.tj-nav-holder .nav .open>a:focus,
.tj-nav-holder .navbar-default .navbar-nav>.open>a,
.tj-nav-holder .navbar-default .navbar-nav>.open>a:hover,
.tj-nav-holder .navbar-default .navbar-nav>.open>a:focus,
.booking-summary .fare-box span,
.tj-accordion-holder .panel-title>a[aria-expanded="true"]:after,
.about-info .facts-list li i,
.about-info a,
.tj-copyright p a,
.video-tour figure .video-caption a,
.fleet-list-box span,
.open_hours h4,
.trip-cabs-outer .nav-tabs li.active a,
.fact-box i,
.tj-cal-to-action2 .cta-btn a,
.fleet-grid-box .price-box strong,
.fleet-list-box .fleet-text .price-box strong,
.tj-p404-section .p404-title,
.app-info ul li i,
.cab-box .cab-price,
.cab-box .cab-price span,
.cab-box .cab-desc a,
.cta-list li .icon,
.cta-list li .icomoon,
.review-info .rating,
.testimonial-info .icomoon,
.address-box .icomoon,
.fleet-info-box a,
.fleet-list-box a,
.tj-tweets ul li a,
.tj-tweets ul li .date,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.cab-col-outer .fleet-grid-box a:hover,
.tj-nav-holder .navbar-default .navbar-nav>li>a:hover,
.tj-nav-holder .navbar-default .navbar-nav>li>a:focus,
.fleet-info-box .fleet-info span,
.breadcrumb-list li.active,
.tj-tweets span,
.info_box i,
.info_box .info_text .info_title,
.service-box .icon-outer i,
.tj-logo h1 a,
.pagination>.active>a,
.pagination>.active>a:hover,
.blog-outer .blog_meta li i,
.recent-news .detail-box h4 a:hover,
ul.cats li a:hover,
.blog-text .tj-btn2:hover,
.tj-footer .tj-subscribe-form label strong a:hover,
.booking-frm label[for="book_terms"] a {
    color: #4568DC;
}

.tj-reviews .owl-theme .owl-controls .owl-nav [class*="owl-"],
.tj-nav-holder .book_btn a,
.book_fleet a,
.cab-col-outer .fleet-grid-box a:before,
.trip_form .search-btn,
.trip-type-frm .search-btn,
.fleet-inner a,
.tj-form2-tabs .nav-tabs>li.active>a,
.tj-form2-tabs .nav-tabs>li.active>a:hover,
.tj-form2-tabs .nav-tabs>li.active>a:focus,
.tab-content .trip-frm2 .search-btn,
.contact_frm .submit-btn,
.service-box .service-caption a,
.tj-book-services .service-box:hover .icon-outer i,
.tj-slider .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.car-tabs .nav-tabs>li.active>a,
.car-tabs .nav-tabs>li.active>a:hover,
.car-tabs .nav-tabs>li.active>a:focus,
.tj-slider .owl-theme .owl-dots .owl-dot.active span,
.tj-slider .owl-theme .owl-dots .owl-dot:hover span,
.tj-btn:after,
.cab-services .cab-service-box:after,
.booking-frm .book-btn,
.tj-contact-form .btn-submit,
.slide-caption .slide-btns .btn-style-1,
.slide-caption .slide-btns .btn-style-2,
.banner-inner .banner-btns .btn-style-1,
.banner-inner .banner-btns .btn-style-2,
.tj-reviews .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover,
.payment-frm .book-btn,
.tj-user-bfrm .book-btn,
.invoice-footer a,
.cab-box .cab-desc a:after,
.account-frm .save-btn,
.account-frm .cancel-btn,
.search-form button,
.blog-outer .blog-thumb .blog-date strong,
.slider-post #blog-slider .owl-controls .owl-nav [class*="owl-"],
.tags a:hover,
.blog-text .tj-btn2:before,
.quote-author:before,
.sharing_links li a,
.post-nav-control a,
.comments-info .reply,
.comment-btn,
.tj-subscribe-form .btn-submit,
.price_btn {
    background-color: #4568DC;
}

.fleet-info-box a,
.fleet-list-box a,
.about-widget .fsocial-links li a:hover,
.tj-tabs .nav-tabs>li.active>a,
.tj-tabs .nav-tabs>li.active>a:hover,
.tj-tabs .nav-tabs>li.active>a:focus,
.info_box i,
.cab-col-outer .fleet-grid-box .tj-btn2:after,
.trip-frm-tabs .nav-tabs>li.active>a,
.trip-frm-tabs .nav-tabs>li.active>a:hover,
.trip-frm-tabs .nav-tabs>li.active>a:focus,
.service-box .icon-outer,
.cab-filter-nav a.current,
.tj-footer2 .fsocial-links li a:hover,
.tj-nav-holder .navbar-default .navbar-nav>li>a:hover,
.search_widget h3:before,
.fleet-ad h3:before,
.tagCloud h3:before,
.recent-post h3:before,
.categroies h3:before,
.blog-text .tj-btn2:after,
.blog-text .tj-btn2:after,
.quote blockquote,
.widget-subcribe h3:before {
    border-color: #4568DC;
}

.tj-cal-to-action2:after {
    background: rgba(69, 104, 220, 0.9);
}

.tj-cal-to-action:after {
    background: rgba(69, 104, 220, 0.9);
}

.tj-clients:after {
    background: rgba(69, 104, 220, 0.9);
}

.tj-promo-offer:after {
    background: rgba(69, 104, 220, 0.9);
}

.tj-facts2:after {
    background: rgba(69, 104, 220, 0.92);
}