
.selectpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    padding: 10px 18px;
        margin: 4px 0px 4px 0;
}
 input[type="number"] {
    display: block;
    height: 45px;
    padding: 0 15px;
    width: 280px;
    color: #a6a6a6;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    background-color: #f6f6f6;
    font-weight: 400;
}

.trip-type-tabs .nav-tabs li a {
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    display: block;
    font-size: 18px;
    color: #444444;
    font-weight: 500;
    padding: 15px 54.5px;
    background-color: #f0f0f0;
    border: none;
}

.trip-type-tabs .nav-tabs>li.active>a, .trip-type-tabs .nav-tabs>li.active>a:hover, .trip-type-tabs .nav-tabs>li.active>a:focus {
    background-color: #fff;
    border: none;
}


